<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
</head>
<body>
	<header> 
		<h1>Friends</h1>
		<ul>
			<li> <a href="/">home</a> </li>
			<% if user_signed_in? %>
				<li> <a href="/logout"> Sign Out </a> </li>
			<% else %>
				<li> <a href="/login"> Sign In</a> </li> 
				<li> <a href="/sign_up"> Sign Up</a> </li> 
			<% end %> 
		</ul>
 	</header>
	<%= yield %> 
</body>
</html>