%h1
	Signup

/ %form(:action => '/signup', :method => 'post')
/ 	%input(:name => 'name', :placeholder => 'Enter name')
/ 	%input(:name => 'email', :placeholder => 'Enter email')
/ 	%input(:name => 'password', :type => 'password')
/ 	%input(:type => 'submit')