<p><%= @user.username %></p>

<% if current_user %>
	<%= erb :update %> 
<% end %>  

<% if @pending  %> 
	<button>Request pending</button> 
<% elsif @friended %>
  <%= erb :confirm_request %>  
<% elsif @user != current_user && !@pending && !@friends %>
	<%= erb :new_request %>
<% end  %> 